:root {
  --primaryColor: #3498db;
  --secondaryColor: #f39c12;
  --backgroundColor: #ffffff;
  --foregroundColor: #000000;
  --dangerColor: #b00020;
  --successColor: #22bb33;
  --h1: clamp(1.8rem, calc(1.8rem + ((1vw - 0.48rem) * 0.9722)), 2.1rem);
  --h2: clamp(1.5rem, calc(1.5rem + ((1vw - 0.48rem) * 0.9722)), 1.8rem);
  --h3: clamp(1.2rem, calc(1.2rem + ((1vw - 0.48rem) * 0.9722)), 1.5rem);
  --h4: clamp(1.125rem, calc(1.15rem + ((1vw - 0.48rem) * 0.3472)), 1.2rem);
  --body: clamp(1rem, calc(1rem + ((1vw - 0.48rem) * 0.1736)), 1.125rem);
  --small: clamp(0.875rem, calc(0.875rem + ((1vw - 0.48rem) * 0.1736)), 1rem);
  --border-radius: 0.3rem;
  --bodyFont: Verdana, sans-serif;
  --headerFont: Helvetica, sans-serif;
  --lh1: "1.3";
  --lh2: "1.35";
  --lh3: "1.4";
  --lh4: "1.5";
  --lbody: "1.6";
}
