:root {
  --primaryColor: #8a2be2;
  --secondaryColor: #f39c12;
  --backgroundColor: #000000;
  --foregroundColor: #ffffff;
  --dangerColor: #b00020;
  --confirmColor: #22bb33;
  --mutedColor: #4c4453;
  --h1: clamp(2rem, calc(2rem + ((1vw - 0.48rem) * 0.9722)), 2.5rem);
  --h2: clamp(1.8rem, calc(1.8rem + ((1vw - 0.48rem) * 0.9722)), 2.1rem);
  --h3: clamp(1.5rem, calc(1.5rem + ((1vw - 0.48rem) * 0.9722)), 1.8rem);
  --h4: clamp(1.375rem, calc(1.375rem + ((1vw - 0.48rem) * 0.3472)), 1.5rem);
  --body: clamp(1.25rem, calc(1.25rem + ((1vw - 0.48rem) * 0.1736)), 1.375rem);
  --small: clamp(
    1.125rem,
    calc(1.125rem + ((1vw - 0.48rem) * 0.1736)),
    1.25rem
  );
  --gap: 10px;
  --border-radius: 0.3rem;
  --bodyFont: Verdana, sans-serif;
  --headerFont: Helvetica, sans-serif;
  --lh1: "1.3";
  --lh2: "1.35";
  --lh3: "1.4";
  --lh4: "1.5";
  --lbody: "1.6";
}
