:root {
	--huge: clamp(2.625rem, calc(2.625rem + ((1vw - 0.225rem) * 3.0769)), 5.625rem);
	--h1: clamp(2rem, calc(2rem + ((1vw - 0.48rem) * 0.9722)), 2.5rem);
	--h2: clamp(1.725rem, calc(1.725rem + ((1vw - 0.48rem) * 0.9722)), 2rem);
	--h3: clamp(1.5rem, calc(1.5rem + ((1vw - 0.48rem) * 0.9722)), 1.725rem);
	--h4: clamp(1.275rem, calc(1.275rem + ((1vw - 0.48rem) * 0.3472)), 1.5rem);
	--body: clamp(1rem, calc(1rem + ((1vw - 0.48rem) * 0.1736)), 1.275rem);
	--small: clamp(0.875rem, calc(0.875remrem + ((1vw - 0.48rem) * 0.1736)), 1rem);
	--lh1: 1.3;
	--lh2: 1.35;
	--lh3: 1.4;
	--lh4: 1.5;
	--lhbody: 1.6;
	--border-radius: 0.54rem;
	--bodyFont: Arial, Helvetica, sans-serif;
	--headerFont: 'Playfair Display', serif;
	--zeroFont: 'Notable', sans-serif;
}

[data-theme='light']:root {
	--primaryColor: #d4322c;
	--secondaryColor: #3edd5b;
	--backgroundColor: #ffffff;
	--foregroundColor: #1a1a1a;
	--dangerColor: #ff0000;
	--successColor: #22bb33;
	--mutedColor: #505050;
}

[data-theme='dark']:root {
	--primaryColor: #d4322c;
	--secondaryColor: #3edd5b;
	--backgroundColor: #1a1a1a;
	--foregroundColor: #ffffff;
	--dangerColor: #ff0000;
	--successColor: #4caf50;
	--mutedColor: #b1b0b0;
}

:not(dialog) {
	margin: 0;
	padding: 0;
	list-style: none;
	box-sizing: border-box;
}

body {
	overflow-x: hidden;
}

:where(h1, h2, h3, h4) {
	font-family: var(--headerFont);
	font-weight: bold;
}
h1 {
	font-size: var(--h1);
	line-height: var(--lh1);
}
h2 {
	font-size: var(--h2);
	line-height: var(--lh2);
}
h3 {
	font-size: var(--h3);
	line-height: var(--lh3);
}
h4 {
	font-size: var(--h4);
	line-height: var(--lh4);
}

:where(label, code, span, li, p, i) {
	font-family: var(--bodyFont);
	font-size: var(--body);
	font-weight: 400;
	line-height: var(--lbody);
}

body::-webkit-scrollbar {
	width: 0.5rem;
}
body::-webkit-scrollbar-track {
	border-radius: 0;
	background: color-mix(in srgb, var(--foregroundColor) 40%, transparent 60%);
}

body::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background: var(--primaryColor);
}
